@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// SegoeUI
@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/SegoeUI/Segoe\ UI.ttf");
}

@font-face {
    font-family: "Segoe UI Bold";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/SegoeUI/Segoe\ UI\ Bold.ttf");
}

// Poppins
@font-face {
    font-family: "Poppins Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

// SF PRO
@font-face {
    font-family: "SF PRO";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/San\ Francisco\ PRO/SF-Pro.ttf");
}

* {
    font-family: "Segoe UI";
}

.main-button {
    --background: linear-gradient(90deg, rgba(102, 126, 234, 1) 0%, rgba(100, 182, 255, 1) 100%);
    --box-shadow: none;
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}

.main-button::after {
    content: "";
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 0;
    top: 10px;
    height: 40px;
    z-index: -1;
    box-shadow: 0px 20px 20px -19px rgba(0, 111, 255, 1);
}

ion-buttons:focus {
    outline: none !important;
}

ion-button:focus {
    outline: none !important;
}